<p><b>Content:</b> <%= @content_block.content %></p>
<p><b>Question:</b> <%= @content_block.question %></p>
<p><b>Order:</b> <%= @content_block.order %></p>
<p><b>Value:</b> <%= @content_block.value %></p>