body{
	background:#021f2f;
}

#banner{
	background:#fff;
}

#navigation{
	background:#021f2f url('/images/assets/headerbg.gif');
	height:56px;
	-moz-border-radius: 4px 4px 0 0;
	-moz-box-shadow: 0px 2px 4px rgba(51,51,51,.3);
	-webkit-border-radius: 4px 4px 0 0;
}

#main.container_12{
	background:#fff;
}

#content{
	background:#fff;
	padding-bottom:2em;
	padding-left:10px;
}

#footer{
	background:#666;
	margin-bottom:2em;
	height:4em;
}

#navigation li a {
	position: relative;
	display: block;
	height: 45px;
	font-weight:bold;
	color: #fff;
	float: left;
	padding: 19px 45px 0 45px;
	text-decoration: none;
}

#navigation li a:hover,#navigation li.selected {
	background-color: transparent;
	background-image: url('/images/assets/header-selected.gif');
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: 0% 0%;
	text-decoration: none;
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
}

#navigation li a.selected, #navigation li.first a.selected{
	background-image:url('/images/assets/header-select-arrow.gif');	
	background-repeat:no-repeat;
	background-position:center bottom;
}

#navigation ul li {
	list-style-type:none;
	padding:0 0;
}


/*PAGE BASED CSS*/

/*HOME PAGE*/

a.cases,a.surveys{
	display:inline;
	height:6.5em;
	text-decoration:none;
	text-transform:uppercase;
	font-size:2em;
	font-weight:bold;
	color:#021f2f;	
}

a.cases span,a.surveys span{
margin-left:1em;
}

a.cases{
	background-image:url('/images/assets/landing/gavel.jpg');	
}

a.surveys{
	background-image:url('/images/assets/landing/notebook.jpg');	
}

a:hover.cases,a:hover.surveys{
	color:#0a0a0a;
}

/*SURVEY */

div.survey{
	margin-top:1em;
	border:1px solid #666;
	-moz-border-radius: 4px;
	-moz-box-shadow: 2px 2px 4px rgba(51,51,51,.3);
	-webkit-border-radius: 4px;
}
div.survey a.information{
	background-image:url('/images/assets/information_tab.gif');	
	display:block;
	width:16px;
	height:14px;
	position:absolute;
	right:10px;
	top:-15px;
}
div.question{
	line-height:1.5em;
	position:relative;
}
div.wizard h3 a {
	text-decoration:none;
}
div.question div input.next{
	margin-bottom:2em;
}
div.question div.separator{
	border-bottom:1px solid #000;
	width:430px;
	margin-bottom:0.5em;
}
/*OPERATIONAL CLASSES*/

.clearFloat{
	clear:both;
	float:none;
}
