<%=h @portlet.name %>
<h1>What do you want to do?</h1>
<div class="grid_12 alpha omega">
<a class="cases grid_6 alpha" href="/cases/"><span>try a fair use case</span></a>
<a class="surveys grid_6 omega" href="/surveys/"><span>try your own case</span></a>
</div>