<p><b>Survey:</b> <%= @content_block.survey.name %></p>
<p><b>Content:</b> <%= @content_block.content %></p>
<p><b>Order:</b> <%= @content_block.order %></p>
<p><b>Explanation:</b></p>
<%= @content_block.explanation %>